@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background: #FFF7F3;
    ;
}

:root {
    --purple: #C63BFA;
    --white: #fff;
    --black: #000;
}

::selection {
    background-color: var(--purple);
    color: var(--white);
}

section {
    margin: 3rem 5rem;
}

.btn {
    border: 4px inset var(--purple);
    border-radius: 1rem;
    padding: .75rem 2rem;
    text-decoration: none;
    font-size: 16px;
    color: var(--purple);
    cursor: pointer;
}

#menuBtn {
    display: none;
    color: var(--purple);
}

.btn:hover {
    background: var(--purple);
    color: var(--white);
    transition: .4s ease;
}

.navbar {
    display: flex;
    align-items: center;
    height: 10vh;
    position: sticky;
    top: 0%;
    z-index: 2;
    justify-content: space-around;
    background: white;
}

.navbar video {
    height: 60px;
    width: 60px;
    background: var(--white);
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.navbar ul li {
    list-style-type: none;
    margin: 0 1rem;
    background: white;
    position: relative;
}

.navbar ul li a,
.navbar ul li i {
    text-decoration: none;
    color: var(--purple);
    background: white;
}

.navbar .items ul li a::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100%;
    border-bottom: 5px solid var(--purple);
    transition: .2s linear;
}

.navbar .items ul li a:hover::before {
    width: 70%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
    height: 80vh !important;
}

.heading {
    display: inline-block;
    font-size: 40px;
    margin: 3rem 0;
    -webkit-text-stroke: var(--black) .1rem;
    border-bottom: 5px solid var(--purple);
}

.heading-mark {
    color: var(--purple);
}

.home .text h1 {
    font-size: 40px;
    -webkit-text-stroke: var(--black) .1rem;
}

.home .text h5 {
    font-size: 16px;
}

.home .images img {
    height: 400px;
    width: 300px;
    object-fit: cover;
}

.about ul {
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
}

.about ul li a i {
    color: var(--purple);
    border: 3px inset var(--purple);
    margin: .5rem;
    padding: 1rem;
    font-size: 20px;
    border-radius: 1rem;
}

.about ul li a:hover i {
    background: var(--purple);
    color: #FFF7F3;
}

.education .container {
    border: 4px inset var(--purple);
    margin: 1rem 5rem;
    padding: 3rem;
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

.education .container .box {
    padding: 1rem;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom: 1px solid var(--purple);
}

.education .container .box i {
    font-size: 20px;
    margin-right: 2rem;
}

.education .container .box h5 {
    color: #666;
}

.education .container .box h3 {
    font-size: 24px;
}

.experience .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.experience .container img {
    width: 300px;
}

.experience .container .box {
    height: 300px;
    border: 5px inset var(--purple);
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 3rem;
    padding: 2rem;
}

.experience .container .box h4 {
    font-size: 28px;
}

.experience .container .box h4 span {
    color: var(--purple);
    -webkit-text-stroke: var(--black) .05rem;
}

.experience .container .box h5 {
    font-size: 16px;
    margin-top: 1rem;
}

.experience .container .box h6 {
    font-size: 12px;
}

.projects .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.projects .container .box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 45%;
    height: 100%;
    overflow: hidden;
    margin: 1rem;
}

.projects .container .box .overlay {
    width: 100%;
    height: 100%;
    background-color: #37004b;
    position: absolute;
    top: 100%;
    left: 0%;
    opacity: 0.8;
    color: var(--purple);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transition: .5s;
}

.projects .container .box .overlay h3 {
    font-size: 24px;
    background: transparent;
    color: var(--white);
    margin-top: 2rem;
}

.projects .container .box .overlay h5 {
    font-size: 12px;
    background: transparent;
    color: var(--white);
}

.projects .container .box .overlay i {
    font-size: 20px;
    background-color: transparent;
    color: var(--white);
}

.projects .container .box:hover .overlay {
    top: 0%;
}

.projects .container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}


/* -- */

.portfolio-item:hover img {
    transform: scale(1.1);
}


/* -- */

.skills .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 1rem;
    width: 100%;
}

.skills .container .box {
    border: 5px outset var(--purple);
    border-radius: .5rem;
    margin: 1rem;
    padding: 1rem;
    background: linear-gradient(38deg, rgba(198, 59, 250, .2) 50%, #fff 50%);
    position: relative;
    text-align: center;
    z-index: 0;
    flex: 1 1 15rem;
    max-width: 15rem;
    aspect-ratio: 4 / 3;
    transition: background 0.1s;
}

.skills .box:hover {
    --active: 1;
}

.skills .container .box .number {
    font-size: 2rem;
    color: rgba(198, 59, 250, .8);
    position: absolute;
    top: -1rem;
    right: 1rem;
    z-index: -1;
    -webkit-text-stroke: var(--black) .05rem;
}

.skills .container .box h3 {
    font-size: 35px;
    color: var(--purple);
    margin-top: 3rem;
    background: transparent;
    -webkit-text-stroke: var(--black) .05rem;
}

.skills .container .box p {
    font-size: 14px;
    color: #666;
    padding: 1rem 0;
    background: transparent;
}

.contact {
    background-image: url(img/cont.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: auto;
    margin-top: 5rem;
    padding: 1rem;
}

.contact h1 {
    margin-left: 4rem;
    border-bottom: 5px solid var(--purple);
}

.contact h1,
.contact h1 span {
    background: transparent;
}

.contact .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFF7F3;
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 3rem;
    margin: 0 5rem;
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin: 1rem 2rem;
    padding: .5rem;
}

.contact form input,
.contact form textarea {
    width: 400px;
    height: 30px;
    border-radius: 1rem;
    border: 4px inset var(--purple);
    margin: .5rem 0;
    background: transparent;
    padding: .75rem;
}

.contact form textarea {
    height: 150px;
    resize: none;
}

::placeholder {
    color: var(--purple);
}

.contact .container ul {
    list-style-type: none;
    color: var(--purple);
}

.contact .container ul li i {
    color: var(--purple);
    text-decoration: none;
}

.contact .cont ul li {
    margin: 1rem 0;
    display: flex;
    font-size: 18px;
}

.contact .cont ul li i {
    margin-right: 1rem;
}

.contact .social-media-icons {
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
    background: transparent;
    margin-top: 3rem;
}

.contact .social-media-icons ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.contact .social-media-icons ul li a {
    margin: 0 1rem;
    font-size: 25px;
    color: var(--purple);
    border: 3px inset var(--purple);
    border-radius: 2rem;
    padding: 1rem;
}

.contact .social-media-icons ul li a:hover {
    background: var(--purple);
    color: var(--purple);
}

.contact .social-media-icons ul li:hover {
    transform: translateY(-1rem) scale(1.1);
    transition: .2s ease;
}

.contact .social-media-icons ul li a:hover i {
    background: var(--purple);
    color: white;
}

@media (max-width:1500px) {
    .skills .container .box {
        flex: 1 1 30rem;
        max-width: 30%;
    }
    .contact {
        height: 100vh;
    }
}

@media (max-width:1300px) {
    .skills .container .box {
        flex: 1 1 30rem;
        max-width: 30%;
    }
    #menuBtn {
        display: block;
    }
    .navbar .btn {
        display: none;
    }
    .navbar .items {
        position: absolute;
        top: 99%;
        height: 355px;
        left: 0;
        right: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }
    .navbar .items ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        background-color: var(--purple);
    }
    .navbar .items ul li {
        background-color: transparent;
        height: 50px;
        border-top: 1px solid var(--white);
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar .items ul li:hover a {
        color: var(--black);
    }
    .navbar .items ul li a {
        color: var(--white);
        background-color: transparent;
    }
    .navbar .items.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .contact {
        height: 100vh;
    }
    .education .container .box h3 {
        font-size: 18px;
    }
    .projects .container .box .overlay {
        top: 300%;
    }
    .projects .container .box .overlay h3 {
        font-size: 14px;
    }
    .projects .container .box .overlay h5 {
        font-size: 12px;
    }
    .projects .container .box .overlay i {
        font-size: 14px;
    }
    .contact .cont ul li {
        font-size: 12px;
    }
}

@media (max-width:991px) {
    .contact .container {
        flex-flow: column;
    }
    .projects .container .box {
        width: 90%;
    }
    .contact {
        height: 110vh;
    }
}

@media (max-width:768px) {
    .education .container {
        margin: .5rem;
        padding: 2rem;
    }
    .skills .container .box {
        flex: 1 1 50rem;
        max-width: 50%;
    }
    .projects .container .box {
        width: 100%;
        margin: 3px;
    }
    .contact form input,
    .contact form textarea {
        width: 100%;
    }
}

@media (max-width:450px) {
    html {
        font-size: 75%;
    }
}